<%- include ("./templates/_header") %>



<div class="container">
  <a href ="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
     
      <% if(post.length == 0) { %>
        <h2>There are no Posts</h2>
      <% } else { for(let i =0; i< post.length;i++)  {    %>
        <div class="blog-post">
          <h2 class="blog-post-title"><%= post[i].title  %> </h2>
          <p class="blog-post-meta"><%= post[i].post_date.toDateString()  %> by <a href="#"><%= post[i].author  %></a>     </p>
          <p><%= post[i].post_data  %></p>
          <a class = "btn btn-danger" href ="/delete/<%= post[i]._id  %>"> Delete </a>
          <a class = "btn btn-info" href ="/edit/<%= post[i]._id  %>"> Edit </a>
        </div>
        <% }}  %>



    </div>
  </div>
</main>




<%- include ("./templates/_footer") %>